<div class="terms-main__sidebar--menu">     
  <div class="terms-main__sidebar--menu--active">
    {% for link in linklists['accounts-menu'].links %}
      {% if request.path == link.url %}
        <span>
          {{ link.title }}
        </span>
        
        <svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2 2L7 7L12 2" stroke="black" stroke-width="2" stroke-linecap="square"/>
        </svg>
      {% endif %}
    {% endfor %}
  </div>     
  {% if customer %}
    <ul>
      {% for link in linklists['accounts-menu'].links %}
        {% assign link_title = link.title | strip %}
        {% if link_title == 'VIP' %}
          {% unless customer.tags contains 'vip' %}
            {% continue %}
          {% endunless %}
        {% endif %}
        <li>
          <a href="{{ link.url }}" {% if link.active %}class="active"{% endif %}>
            {{ link_title }}
          </a>
        </li>
      {% endfor %}
      <a href="/account/logout" class="underline-link underline-link__inactive">Log Out</a>
    </ul>
  {% else %}
    <ul>
      <li><a href="/account/login">Log In</a></li>
      <li><a href="/account/register">Sign Up</a></li>
    </ul>
  {% endif %}
</div>