{%- comment -%}
  Available variables:
  - block
    - id
    - shopify_attributes
    - type
    - settings
      - title (text)
      - caption (text)
      - button_title (text)
      - button_url (url)
{%- endcomment -%}

<div class='accordions__item  {% if forloop.first %}  accordions__item--active {% endif %}'>
  <h3 class='accordions__item-title'>
    {{ block.settings.title }}
    <a href='#' class='accordions__toggle' aria-label='Toggle Our process'>
      <span class='accordions__toggle-icon  {% if forloop.first %}  accordions__toggle-icon--minus {% endif %}'></span>
    </a>
  </h3>
  <div class='accordions__item-content'>
    <p class='accordions__item-text'>
      {{ block.settings.caption }}
    </p>
    <a href='{{ block.settings.button_url }}' class='accordions__learn-more'> {{ block.settings.button_title }}</a>
  </div>
</div>
