<div class="accounts__dashboard-message">
  <h4>
    B Hub
    <span class="lg-show">
      <a href="/account/logout" class="underline-link underline-link__inactive">Log Out</a>
    </span>
  </h4>
</div>
<div class="accounts__navigation accounts__navigation--menu">
  {% render 'account-navigation' %}
</div>


{% if customer.default_address %}
  <div class="accounts__sidebar">
    <div class="accounts__sidebar--block">

      {{ customer.default_address | format_address }}
      {% for address in customer.addresses %}
        {% if address == customer.default_address %}
          <ul class="action-list">
            <li>
              {% if request.path contains 'account' %}
              <a href="/pages/dashboard#address-{{ address.id }}" class="underline-link edit-address">
                Edit Personal Details
              </a>
              {% else %}
              <a href="#address-{{ address.id }}" class="underline-link edit-address">
                Edit Personal Details
              </a>
              {% endif %}
            </li>
          </ul>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %}