<div class="article-testimonial block-padding--{{ block.id }}" {{ block.shopify_attributes }}>
  <div class="article-testimonial__container">
    <div class="article-testimonial__content">
      <h4>“{{ block.settings.title }}”</h4>
      <p>Quote by<span>|</span>{{ block.settings.quote_by }}</p>
    </div>
  </div>
</div>