<div class="arrow__group">
  <a class="arrow__icon arrow--prev" href="#">
    {% render 'icon-swiper-arrow' %}
  </a>
  <a class="arrow__icon arrow--next active" href="#">
    {% render 'icon-swiper-arrow' %}
  </a>
</div>