<div class="cart-drawer__items">
  {% if cart.items.size > 0 %}

    <!-- Cart Items -->
    {% render 'cart-items' %}

  {% else %}
    <div class="cart-drawer__message">
      {{ settings.cart_empty_message }}
    </div>
  {% endif %}
</div>

<!-- Recommended Products -->
{% render 'cart-drawer-recommend' %}
  