{% assign questions = block %}
        <div class="accordion-item accordion--faq {{ questions.shopify_attributes }}">
            <div class="accordion-item__label">
                <label><span>{{ questions.settings.question }}</span></label>                            
                <div class="accordion-item__icon">
                    <div class="active">
                        {% render 'icon-arrow-up' %}
                    </div>
                    <div class="default">
                        {% render 'icon-arrow-down' %}
                    </div>
                </div>
            </div>
            <div class="accordion-item__collapse">
                <div class="accordion-item__content">
                    {{ questions.settings.answer }}
                </div>
            </div>
        </div>