{%- comment -%}
  Available variables:
  - block
    - id
    - shopify_attributes
    - type
    - settings
      - title (text)
      - image (image_picker)
      - url (url)
{%- endcomment -%}

<div class='images' {{ block.shopify_attributes }}>
  <a href='{{ block.settings.url }}'>
    <img
      class='social-reel__image'
      src='{{ block.settings.image | img_url: 'master' }}'
      alt='{{ block.settings.title }}'
    >
  </a>
</div>
