<div data-type='hint' class='product-modal__content product-modal__content--hint active'>
  <div class='product-modal__title'>
    Get notified when <span style='text-transform: capitalize;'> {{ product.title | capitalize }}</span> comes back in
    stock
  </div>
  <form id='back-in-stock' class='product-modal__form'>
    <input type='hidden' name='g' value='{{ list_id }}'>
    <input type='hidden' name='company_id' value='{{ company_id }}'>
    <input type='hidden' name='variant_id' value='{{ product.selected_or_first_available_variant.id }}'>

    <div class='product-modal__form-fields'>
      <input type='text' class='input__field' name='first_name' placeholder='First Name' required>
      <input type='text' class='input__field' name='last_name' placeholder='Last Name' required>
      <input type='email' class='input__field' name='email' placeholder='Email Address' required>
    </div>

    <div class='form-field--checkbox'>
      <input type='checkbox' class='input__checkbox' id='signup-mailing-list' name='signup_mailing_list'>
      <label for='signup-mailing-list'>Sign up for mailing list</label>
    </div>

    <button type='submit' class='primary-button primary-button--default'>SAVE ADDRESS</button>

    <div class='klaviyo_messages' style='display:none;'>
      <div class='success_message' style='display:none;'>
        Thanks! We'll notify you when this product is back in stock.
      </div>
      <div class='error_message' style='display:none;'>Oops! Something went wrong. Please try again.</div>
    </div>

    <a href='' class='underline-btn close-product-modal'>CANCEL</a>
  </form>
</div>
