<form id="klaviyo-newsletter" class="footer-form newsletter-klaviyo-form" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank">
  {% capture list_id %}
    {% render 'klaviyo-list-id' %}
  {% endcapture %}
  {% assign list_id = list_id | strip %}

  <input type="hidden" name="g" value="{{ list_id }}">
  <input type="hidden" name="$fields" value="$consent, email, $birth_date, $first_name">
  <input type="hidden" name="$list_fields" value="$consent">
  <input type="hidden" name="$consent" value="email">

  <div class="form-row">
    <input class="input__field" type="text" name="$first_name" placeholder="First Name*" required>
  </div>
  <div class="form-row">
    <input class="input__field" type="email" name="email" placeholder="Email Address*" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$" required>
  </div>
  <div class="form-row form-row--date" data-error="">
    Birth Date
    <input type="date" max="{{ 'now' | date: '%Y-%m-%d' }}" class="input__field" name="$birth_date" placeholder="Birth Date">
  </div>

  <div class="form-row form-row--last">
    <button type="submit" class="input__submit button">
      <span>
        Sign Up
      </span>
    </button>

    <p>
      {{ settings.note }}
    </p>
  </div>

  <div class="klaviyo_messages">
    <div class="error_message" style="display:none;"></div>
  </div>
</form>