{% form 'customer_login' %}
  <div class="popup-login__form">
    <h6>Log in</h6>
    <div class="form-row">
      <input
        type="email"
        class="form-text input__field"
        name="customer[email]"
        id="Customer-email"
        placeholder="Email address"
        required>
    </div>
    
    <div class="form-row">
      <input
        type="password"
        autocapitalize="none"
        id="customer-password"
        class="form-text input__field input__field--password"
        name="customer[password]"
        placeholder="Password"
        autocapitalize="none"
        required>
    </div>
    
    <div class="form-row">
      <input
        type="submit"
        class="button primary-button--dark primary-button--dark--light-bg"
        value="Login">
    </div>

    <div class="form-row">
      <p class="p-small">
        Don’t have an account?
      </p>
    </div>
  </div>  
{% endform %}