{%- comment -%}
  Snippet for rendering product swatches.
  Accepts two parameters:
  swatches: the string, with swatches seperated with a comma
  current_swatch: the active swatch of the product
{%- endcomment -%}

{% assign swatches_array = swatches | split: ',' %}
{% assign current_swatch = current_swatch | strip | downcase %}
{% assign current_url = product.handle | downcase %}
{% if swatches_array != blank %}
  <label class='main-product__variant'>
    <p>Colour: {{ current_swatch | replace: '-', ' ' }}</p>
  </label>
{% endif %}

{% if swatches_array != blank %}
  {% for swatch_item in swatches_array %}
    {% assign swatch = swatch_item | strip | downcase %}
    {% assign swatch_image = swatch | append: '.png' %}
    {% assign swatch_image = images[swatch_image] %}

    {% assign swatch_link = current_url | replace: current_swatch, swatch %}
    {% capture swatch_style %}
      background-image: url({{ swatch_image | image_url: width: 140 }});
      background-size: 100% 100%;
    {% endcapture %}
    {% assign swatch_product = all_products[swatch_link] %}

    {% if swatch_product != blank %}
      {% if swatch_product.available %}
        <a
          href='{{ swatch_link }}'
          class='
            main-product__option {%if swatch == current_swatch %}
            active
            {% endif %}
          '
          style='{{ swatch_style }}'
        ></a>
      {% endif %}
    {% endif %}
  {% endfor %}
{% endif %}
