<div class='product__gift'>
  <h2 class='product__gift-heading'>The perfect gift</h2>

  <div class='product__gift-content'>
    <div class='product-item'>
      <div class='product-item__title'>Exchanges & Free Returns</div>
      <div class='product-item__description'>
        If your gift isn’t quite right and you need to exchange it for another size or style, we’ll cover the cost of
        return shipping.
      </div>
    </div>

    <div class='product-item'>
      <div class='product-item__title'>Free Delivery</div>
      <div class='product-item__description'>Enjoy free delivery on all NZ orders over $300.</div>
    </div>

    <div class='product-item'>
      <div class='product-item__title'>No Invoice</div>
      <div class='product-item__description'>
        Our jewellery is made to be gifted, so we’ll never send your order out with an invoice; we’ll email it to you
        instead.
      </div>
    </div>
  </div>
</div>
