<div class='product__hint {{ classes }}'>
  <div class='product__hint-title'>Send a hint</div>
  <div class='product__hint-description'>Let someone know you'd love this product as a gift.</div>
  <div class='product__hint-cta underline-btn'>Send now</div>
</div>
