<div
  data-url='{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit=2&intent=complementary'
  class='product__pair'
>
  <h4 class='product__pair-title'>Pairs well with</h4>

  <div class='product__pair-products'>
    {%- for product in recommendations.products -%}
      {% render 'product-card', product: product %}
    {% endfor %}
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const productRecommendedContainer = document.querySelector('.product__pair');

    if (productRecommendedContainer) {
      const url = productRecommendedContainer.dataset.url;

      fetch(url)
        .then((response) => response.text())
        .then((text) => {
          const html = document.createElement('div');
          html.innerHTML = text;
          const products = html.querySelector('.product__pair-products');

          if (products && products.innerHTML.trim().length) {
            productRecommendedContainer.querySelector('.product__pair-products').innerHTML = products.innerHTML;
            productRecommendedContainer.style.display = 'block';
          } else {
            productRecommendedContainer.style.display = 'none';
          }
        })
        .catch((e) => {
          console.error('Error fetching complementary products:', e);
          productRecommendedContainer.style.display = 'none';
        });
    }
  });
</script>
