{% comment %}
  Required:
  - image

  Optional:
  - video

{% endcomment %}


<div class="sa-media">
  {% if section.settings.bg_video != blank %}
    <video class="lg-hide" src="{{ section.settings.bg_video.sources[1].url }}" muted playsinline autoplay loop></video>

    <video class="lg-show" src="{{ section.settings.bg_video_mobile.sources[1].url }}" muted playsinline autoplay loop></video>

  {% else %}
    
    <div class="sa-media__image">
      <img src="{{ image | image_url }}" alt="">
    </div>
  {% endif %}
</div>