<div class="stock-notify">
  <a href="#" class="stock-notify__close">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
      <path d="M1 1L23 23" stroke="#262525" stroke-width="1.5"/>
      <path d="M23 1L0.999999 23" stroke="#262525" stroke-width="1.5"/>
    </svg>
  </a>
  
  <div class="stock-notify__form">
    <h6>
      Register to be notified when this item comes back in stock.
    </h6>

    <div class="stock-notify__input">
      <input type="email" placeholder="Enter your email address" >
    </div>
    
    <p class="stock-notify__error">
      There was an error with the request.
    </p>
  </div>

  <div class="stock-notify__success">
    <h6>
      Thanks, we will be in touch once this is back in stock.
    </h6>
  </div>
</div>

<script>
  function klaviyoBIS() {
    
  }

  klaviyoBIS();
</script>