{% comment %}
  Required:
  - variant

{% endcomment %}

{% assign bg_color = variant.metafields.swatch.color %}
{% assign bg_image = variant.metafields.swatch.image | image_url %}

<span 
  class="swatch-preview" 
  style="background-color: {{ bg_color }}; background-image: url('{{ bg_image }}');"
></span>