@use '../../modules/variables' as *;
@use '../../mixins/breakpoints' as *;
@use '../../mixins/typography';

.template--page-faq  {
  .faq-shop {
    @include media-breakpoint-down(lg) {
      padding-top: 70px;
    }
  }
}

.faq-shop {
  padding-bottom: 150px;

  &__container {
    padding-left: 30px;
  }
  &__heading {
    margin-bottom: 30px;
  }
  &__carousel {
    border-radius: 20px 0px 0px 20px;
    overflow: hidden;
    overflow-x: auto;
    padding-right: 30px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  @include media-breakpoint-down(md) {
    padding-bottom: 100px;

    &__container {
      padding-left: 20px;
    }
    .range-card {
      width: 300px;
      padding-top: 132%;

      &__content {
        padding: 20px;
        grid-template-columns: auto;
      }
      &__text {
        h4 {
          margin: 0 0 5px;
        }
        p {
          margin: 0 0 15px;
        }
      }
    }
  }
  @include media-breakpoint-between(md, lg) {
    padding-bottom: 100px;
  }
}