@use "./variables" as *;
@use "../mixins/typography";
@use "../mixins/breakpoints" as *;

.button {
  font-family: $freightsans-pro;
  font-size: 16px;
  font-weight: 350;
  line-height: 16px;
  letter-spacing: 0.015em;
  padding: 14px 38px;
  min-width: max-content;
  width: fit-content;
  text-align: center;
  border-radius: 0px;
  color: $white;
  text-decoration: none;
  transition: $transition;
  display: inline-block;
  background-color: $BohBrown;

  border: none;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: $white;
    background-color: $BohBrown1;
  }
}

.primary-button {
  &--dark {
    color: $white;
    background: $BohBrown;

    &:hover {
      color: $white;
      background-color: $BohBrown;
    }

    &--light-bg {
      &:hover {
        color: $white;
        background-color: $BohBrown1;
      }
    }

    &--dark-bg {
      &:hover {
        color: $darkcharcoal;
        background-color: $lines3;
      }
    }
  }

  &--light {
    background: $white;
    color: $darkcharcoal;

    &:hover {
      color: $darkcharcoal;
      background-color: $white; //rgba(255, 255, 255, 0.15);
    }

    &--light-bg {
      &:hover {
        color: $white;
        background-color: $BohBrown; //rgba(255, 255, 255, 0.15);
      }
    }
  }

  &--outline-dark {
    border: 1px solid $BohBrown;
    background: transparent;
    color: $BohBrown;

    &:hover {
      color: $white;
      border-color: $BohBrown;
      background: $BohBrown;
    }
  }

  &--outline-light {
    color: $white;
    background: transparent;
    border: 1px solid $white;

    &:hover {
      color: $darkgrey;
      border-color: $lightgrey;
      background: $lightgrey;
    }
  }

  &:hover {
    color: $white;
    background: $BohBrown;
  }
}

.secondary-button {
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.02em;
  transition: $transition;
  color: $BohBrown;
  text-decoration: none;
  text-underline-offset: 6px;
  position: relative;
  padding: 5px;
  min-width: auto;
  background-color: transparent;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: $BohBrown;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: $transition;
  }

  &:hover {
    background-color: transparent;
  }

  &--dark {
    &::after {
      background: $darkcharcoal;
    }

    &:hover {
      color: $darkcharcoal;

      &::after {
        background: $darkcharcoal;
      }
    }
  }

  &--light {
    color: $white;

    &::after {
      background: $white;
    }

    &:hover {
      color: $white;

      &::after {
        background: $white;
      }
    }
  }
}

.add-to-cart {
  color: $white;
  display: flex;
  justify-content: space-between;
  padding: 16px 20px;
  background-color: $lblack;

  .add-to-cart__minus,
  .add-to-cart__plus {
    cursor: pointer;
  }

  button {
    color: $white;
    background-color: transparent;
    border: none;
    font-family: $freightsans-pro;
    font-size: 18px;
  }

  &:hover,
  &--hover {
    text-decoration: none;
    background-color: $BohBrown;
  }
}

.add-to-cart--outline {
  color: $lblack;
  background-color: $white;
  border: 1px solid $lblack;
  width: 100%;

  &:hover,
  &--hover,
  &--hover:hover {
    color: $white;
    background-color: $BohBrown;
    width: 100%;
  }
}

.radio-button {
  position: relative;
  padding-left: 25px;

  span {
    display: block;
    width: 18px;
    height: 18px;
    border: 1px solid $BohBrown;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 00%;
    transform: translateY(-50%);
    text-align: center;

    svg {
      display: none;
      transform: translate(2px, 2px);
    }
  }

  &.checked span,
  input:checked + span {
    background: $BohBlue;

    svg {
      display: block;
    }
  }
}

.color-select {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #d3be97;
  border: 1px solid transparent;

  &:hover {
    border: 1px solid $BohBrown;
    cursor: pointer;
  }

  &.selected {
    border: 1px solid $BohBrown;
  }
}

@include media-breakpoint-down(md) {
  .underline-link,
  .button {
    font-size: 16px;
    line-height: 18px;
  }

  .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

.button {
  &--out-of-stock {
    background: var(--color-lines-2);
    color: var(--color-dark-charcoal);
    pointer-events: none;
  }
}

.product-card {
  .button--out-of-stock {
    background: #fff;
    opacity: 0.6;
  }
}

.underline-btn {
  @include typography.button-text;
  padding-bottom: 6px;
  border-bottom: 1px solid $BohBrown;
  width: fit-content;
  text-decoration: none !important;
}
