@use './variables' as *;
@use '../mixins/breakpoints' as *;

.radius {
  &--large {
    border-radius: 20px;
  }
  &--medium {
    border-radius: 15px;
  }
  &--small {
    border-radius: 8px;
  }
  &__top-left {
    &--large {
      border-top-left-radius: 20px;
    }
    &--medium {
      border-top-left-radius: 15px;
    }
    &--small {
      border-top-left-radius: 8px;
    }
  }
  &__top-right {
    &--large {
      border-top-right-radius: 20px;
    }
    &--medium {
      border-top-right-radius: 15px;
    }
    &--small {
      border-top-right-radius: 8px;
    }
  }
  &__bottom-left {
    &--large {
      border-bottom-left-radius: 20px;
    }
    &--medium {
      border-bottom-left-radius: 15px;
    }
    &--small {
      border-bottom-left-radius: 8px;
    }
  }
  &__bottom-right {
    &--large {
      border-bottom-right-radius: 20px;
    }
    &--medium {
      border-bottom-right-radius: 15px;
    }
    &--small {
      border-bottom-right-radius: 8px;
    }
  }
}