{% render 'navbar--solid' %}

{% render 'account-top-navigation' %}

<section class="accounts accounts--dashboard">
    <div class="accounts__grid accounts__grid--order">
      <div class="accounts__left">
        {% render 'accounts-sidebar' %}
      </div>
      
      <div class="accounts__right">
        {% render 'orders-section', title: 'Order History' %}
      </div>
    </div>
</section> 
