{% render 'navbar--solid' %}


{% comment %}  
{{ 'customer.css' | asset_url | stylesheet_tag }}
{{ 'accounts.css' | asset_url | stylesheet_tag }}
{% endcomment %}

<section class="accounts accounts--recover accounts__recover account-page account-page__reset reset-password" section-name="reset-password">
  <div class="accounts__grid">
    <div class="accounts__left">
      <div class="accounts__form">
        <h3>{{ 'customer.reset_password.title' | t }}</h3>

        {%- form 'reset_customer_password' -%}
          <input
            type="hidden"
            name="return_url"
            value="/pages/dashboard">

          {%- if form.errors -%}
            <small class="form__message">
              An error occurred.
            </small>
          {% elsif form.posted_successfully %}
            <small class="form__message form__message--success">
              We've sent you an email with a link to update your password.
            </small>
          {%- endif -%}

          <fieldset>
            <input
              type="password"
              autocapitalize="none"
              name="customer[password]"
              id="customerPassword"
              placeholder="Password"
              class="input__field input__field--password">
          </fieldset>
          <fieldset>
            <input
              type="password"
              autocapitalize="none"
              name="customer[password_confirmation]"
              id="customerPasswordConfirm"
              placeholder="Confirm Password"
              class="input__field input__field--password">
          </fieldset>

          <fieldset>
            <button class="button input__submit" type="submit">
              Reset Password
            </button>
          </fieldset>

        {%- endform -%}
      </div>
    </div>
    <div class="accounts__right">
      <div class="accounts__image">
        <img
          src="{{ 'log-in-reset.png' | asset_img_url: 'master' }}"
          width=""
          height=""
          loading="eager">
      </div>
    </div>
  </div>
</section>