<!-- If the website is not using the Roadmap blog builder, then this is the section for the standard blogs -->
<section>
  <div class="container">
    <div class="content">
      {{ article.content }}
    </div>
  </div>
</section>