{% if blog.next_article %}
  {% assign _handle = blog.next_article | replace: '/blogs/', '' %}
  {% assign next_article = articles[_handle] %}  
{% else %}
  {% paginate blog.articles by 1000 %}
    {% assign next_article = blog.articles | last %}
  {% endpaginate %}
{% endif %}

{% if next_article.metafields.text.light_mode == true %}
  {% assign classes = 'article-next--light' %}
{% endif %}

<div class="article-next {{ classes }}">
  <div class="article-next__container">
    <a href="{{ next_article.url }}" class="article-next__content">
      <h5>
        Next article
      </h5>
      <h2>
        {{ next_article.title }}
      </h2>
    </a>

    <div class="article-next__hover"></div>
  </div>
</div>
