<div class="cart-columns">
  <div class="cart-columns__container">
    <div class="cart-columns__grid">
      {% for block in section.blocks %}
      <div class="cart-columns__item">
        <div class="cart-columns__content">
          <div class="cart-columns__icon">
            <img src="{{ block.settings.image | image_url }}" alt="">
          </div>
          <p class="cart-columns__heading">
            {{ block.settings.title }}
          </p>
          <div class="cart-columns__desc">
            {{ block.settings.desc }}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Columns",
    "blocks": [
      {
        "name": "Column item",
        "type": "column_item",
        "settings": [
          {
            "id": "image",
            "type": "image_picker",
            "label": "Image"
          },
          {
            "id": "title",
            "type": "text",
            "label": "Title"
          },
          {
            "id": "desc",
            "type": "richtext",
            "label": "Description"
          }
        ]
      }
    ]
  }
{% endschema %}