<div class="design-elements">
  <div class="design-elements__container">
    <h2 class="design-elements__heading">
      {{ section.settings.title }}
    </h2>

    <div class="design-elements__content">
      <div class="design-elements__grid">
        {% for block in section.blocks %}
        <div class="design-elements__item">
          <div class="design-elements__item--icon">
            <img src="{{ block.settings.icon | image_url }}" alt="">
          </div>
          <div class="design-elements__item--desc">
            <h6>
              {{ block.settings.title }}
            </h6>
            {{ block.settings.desc }}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Design Elements",
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "Title",
        "default": "Designed to endure the elements"
      }
    ],
    "blocks": [
      {
        "name": "Element item",
        "type": "element_item",
        "settings": [
          {
            "id": "icon",
            "type": "image_picker",
            "label": "Icon"
          },
          {
            "id": "title",
            "type": "text",
            "label": "Title"
          },
          {
            "id": "desc",
            "type": "richtext",
            "label": "Description"
          }
        ]
      }
    ]
  }
{% endschema %} 