<section class="faq-main">
	<div class="faq-main__container">
    <div class="padding__top--large"></div>
    <h1 class="faq-main__heading">
      {{ page.title }}
    </h1>
		<div class="faq-main__grid faq-heading-outer">
			<div class="faq-main__left faq-main__left--sticky">
        <div class="faq-main__sidebar">
          {% comment %} <div class="faq-main__sidebar--search">
            <div class="field">
                <input type="text" class="field__input" value="" placeholder="Search" required="">
                <button type="submit" class="input__search--button field__button" name="commit" id="Subscribe" aria-label="Subscribe">
                  {% render 'icon-search' %}
                </button>
              </div>
          </div> {% endcomment %}
        </div>
				<div class="faq-main__content faq-heading">
          <div class="faq-main__sidebar--menu lg-hide faq-group__link">
            <ul class="faq-main__tab-links faq-group__link nav-list">
              <!-- to be populated via JS -->
            </ul>
            <button class="nav-btn prev-btn">
                {% render 'nav-next-arrow' %}
            </button>
            <button class="nav-btn next-btn">
                 {% render 'nav-next-arrow' %}
        </button>
          </div>
				</div>
			</div>

			<div class="faq-main__right">
			</div>
		</div>
	</div>
</section>