{% render 'navbar--solid' %}

<div class="home-intro">
  <div class="home-intro__grid">
    <div class="home-intro__left">
      <div class="home-intro__content">
        <h2>
          {{ section.settings.heading }}
        </h2>

        <p class="p-large">
          {{ section.settings.desc }}
        </p>
      </div>
    </div>
    <div class="home-intro__right">
      <div class="home-intro__image">
        <img src="{{ section.settings.image | image_url }}" alt="">
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Intro",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Orion Theme"
      },
      {
        "type": "textarea",
        "id": "desc",
        "label": "Description"
      }
    ]
  }
{% endschema %}