{{ 'page-qa.css' | asset_url | stylesheet_tag }}

{% assign qa_links = section.settings.qa_links | newline_to_br | split: '<br />' %}

<div class="qa-links">
  <h3>
    QA Links
  </h3>

  <ul>
    {% for item in qa_links %}
      {% assign props = item | split: '|' %}

      <li>
        <a href="{{ props | last | strip }}">
          {{ props | first | strip }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>

{% schema %}
  {
    "name": "QA",
    "settings": [
      {
        "type": "textarea",
        "id": "qa_links",
        "label": "QA Links",
        "default": "Customisation | /pages/customisation\nDesign Process | /pages/design-process\nAbout | /pages/about"
      }
    ]
  }
{% endschema %}