{% unless blog %}
  {% assign blog = section.settings.blog %}
{% endunless %}

{% paginate blog.articles by section.settings.pagination_limit %}
  {% for product in blog.articles %}
    <div class="blog-articles">

      {% if template.name == 'blog' %}
        {% render 'blog-filters' %}
      {% endif %}

      <div class="blog-articles__articles">
        {% for article in blog.articles %}
          {% render 'article-card', article: article %}
        {% endfor %}
      </div>

      {% unless section.settings.disable_pagination %}
        {% if paginate.pages > 1 %}
          <div class="blog-articles__pagination">
            {% render 'pagination', paginate: paginate %}
          </div>
        {% endif %}
      {% endunless %}
    </div>
  {% endfor %}
{% endpaginate %}

{% schema %}
{
  "name": "Article Grid",
  "settings": [
    {
      "type": "blog",
      "id": "blog",
      "label": "Blog"
    },
    {
      "type": "number",
      "id": "pagination_limit",
      "label": "Pagination Limit"
    },
    {
      "type": "checkbox",
      "id": "disable_pagination",
      "label": "Disable Pagination",
      "info": "If checked, then pagination will not show. (Useful when using the section on multi-blog index page)",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Article Grid"
    }
  ],
  "templates": ["page"]
}
{% endschema %}