<div id='product-review' class='product-review'>
  {% for block in section.blocks %}
    {% render block %}
  {% endfor %}
</div>

{% schema %}
{
  "name": "Product Review",
  "settings": [],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
