{% assign collection = product.metafields.pdp.more_from_the_collection.value %}
<div class='product-more'>
  <div class='product-more__header'>
    <h1 class='product-more__title'>More from the collection</h1>

    <div class='product-more__arrows md-hide'>
      <div class='product-more__arrow product-more__arrow--prev'>
        {% render 'icon-swiper-prev' %}
      </div>
      <div class='product-more__arrow product-more__arrow--next'>
        {% render 'icon-swiper-next' %}
      </div>
    </div>
  </div>

  <div class='product-more__slider'>
    <div class='swiper'>
      <div class='swiper-wrapper'>
        {% for product in collection.products %}
          <div class='swiper-slide'>
            {% render 'product-card', product: product %}
          </div>
        {% endfor %}
      </div>
    </div>

    <div class='product-more__arrows md-show-flex'>
      <div class='product-more__arrow product-more__arrow--prev'>
        {% render 'icon-swiper-prev' %}
      </div>
      <div class='product-more__arrow product-more__arrow--next'>
        {% render 'icon-swiper-next' %}
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const swiper = new Swiper('.product-more__slider .swiper', {
      slidesPerView: 2,
      spaceBetween: 24,
      breakpoints: {
        1024: {
          slidesPerView: 5,
          spaceBetween: 24,
        },
      },
      navigation: {
        nextEl: '.product-more__arrow--next',
        prevEl: '.product-more__arrow--prev',
      },
    });
  });
</script>
