{% assign about_collection = product.metafields.pdp.about_collection.value %}
{% assign total_images = about_collection.images_videos | split: ',' | size %}
{% assign video = about_collection.video.value %}
<div class='product-about'>
  <div class='product-about__grid'>
    <div class='product-about__grid--left'>
      <div class='product-about__images {% if total_images == 1 and video == blank %}product-about__images--single{% endif %}'>
        {% for image in about_collection.images_videos.value %}
          <div class='product-about__image'>
            {% if image.media_type == 'image' %}
              <img src='{{ image | image_url: width: 500 }}' alt='Product Image'>
            {% elsif image.media_type == 'video' %}
              {{
                image.value
                | video_tag: image_size: '1000x', controls: false, autoplay: true, loop: true, muted: true
              }}
            {% endif %}
          </div>
        {% endfor %}
        <div class='product-about__image'>
          {% if total_images == 1 %}
            {{ video | video_tag: image_size: '1000x', controls: false, autoplay: true, loop: true, muted: true }}
          {% endif %}
        </div>
      </div>
    </div>
    <div class='product-about__grid--right'>
      <h5 class='product-about__title'>about the collection</h5>
      <p class='product-about__description p4'>
        {{ about_collection.description }}
      </p>
    </div>
  </div>
</div>
